<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Aladin|Baloo+Tamma|Bubblegum+Sans|Cantora+One|Chau+Philomene+One|Denk+One|Expletus+Sans:700|Federo|Mirza:500|Patrick+Hand+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400|Encode+Sans+Semi+Expanded:200,400|Heebo:100,300,400|Hind:300|Josefin+Sans:100,100i,300,300i,400i|Muli:200,200i,300,300i,400,400i|Nanum+Gothic|Oxygen:300,400|Thasadith|Titillium+Web:200,200i,300,400|Ubuntu:300,300i,400&display=swap" rel="stylesheet">

    <title>GoldenSoftTech Blog</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but goldensofttech doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
