/*

    //Heading Fonts
    font-family: 'Bubblegum Sans', cursive;

    font-family: 'Aladin', cursive;

    font-family: 'Federo', sans-serif;

    font-family: 'Expletus Sans', cursive;

    font-family: 'Mirza', cursive;

    font-family: 'Patrick Hand SC', cursive;

    font-family: 'Denk One', sans-serif;

    font-family: 'Cantora One', sans-serif;

    font-family: 'Chau Philomene One', sans-serif;

    font-family: 'Baloo Tamma', cursive;



    //Thin Fonts
    font-family: 'Thasadith', sans-serif;

    font-family: 'Encode Sans Semi Expanded', sans-serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Muli', sans-serif;

    font-family: 'Titillium Web', sans-serif;

    font-family: 'Nanum Gothic', sans-serif;

    font-family: 'Dosis', sans-serif;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Heebo', sans-serif;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Hind', sans-serif;




*/



body {

}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
.md-form input[type=text],
.md-form input[type=password],
.md-form input[type=email],
.md-form input[type=url],
.md-form input[type=time],
.md-form input[type=date],
.md-form input[type=datetime-local],
.md-form input[type=tel],
.md-form input[type=number],
.md-form input[type=search-md],
.md-form input[type=search],
.md-form textarea.md-textarea {
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent; }
.md-form input[type=text]:focus:not([readonly]),
.md-form input[type=password]:focus:not([readonly]),
.md-form input[type=email]:focus:not([readonly]),
.md-form input[type=url]:focus:not([readonly]),
.md-form input[type=time]:focus:not([readonly]),
.md-form input[type=date]:focus:not([readonly]),
.md-form input[type=datetime-local]:focus:not([readonly]),
.md-form input[type=tel]:focus:not([readonly]),
.md-form input[type=number]:focus:not([readonly]),
.md-form input[type=search-md]:focus:not([readonly]),
.md-form input[type=search]:focus:not([readonly]),
.md-form textarea.md-textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4; }
.md-form input[type=text]:focus:not([readonly]) + label,
.md-form input[type=password]:focus:not([readonly]) + label,
.md-form input[type=email]:focus:not([readonly]) + label,
.md-form input[type=url]:focus:not([readonly]) + label,
.md-form input[type=time]:focus:not([readonly]) + label,
.md-form input[type=date]:focus:not([readonly]) + label,
.md-form input[type=datetime-local]:focus:not([readonly]) + label,
.md-form input[type=tel]:focus:not([readonly]) + label,
.md-form input[type=number]:focus:not([readonly]) + label,
.md-form input[type=search-md]:focus:not([readonly]) + label,
.md-form input[type=search]:focus:not([readonly]) + label,
.md-form textarea.md-textarea:focus:not([readonly]) + label {
    color: #4285f4; }
.md-form input[type=text] + label:after,
.md-form input[type=password] + label:after,
.md-form input[type=email] + label:after,
.md-form input[type=url] + label:after,
.md-form input[type=time] + label:after,
.md-form input[type=date] + label:after,
.md-form input[type=datetime-local] + label:after,
.md-form input[type=tel] + label:after,
.md-form input[type=number] + label:after,
.md-form input[type=search-md] + label:after,
.md-form input[type=search] + label:after,
.md-form textarea.md-textarea + label:after {
    content: "";
    position: absolute;
    top: 65px;
    display: block;
    opacity: 0;
    -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    -o-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    transition: 0.2s opacity ease-out, 0.2s color ease-out; }

.md-form .form-control {
    margin: 0 0 0.5rem 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0.3rem 0 0.55rem 0;
    background-image: none;
    background-color: transparent;
    height: auto; }
.md-form label {
    position: absolute;
    top: 0.65rem;
    left: 0;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: text;
    color: #757575; }
.md-form label.active {
    -webkit-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    transform: translateY(-140%); }



.md-form .prefix {
    position: absolute;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
.md-form .prefix.active {
    color: #4285f4; }
.md-form.form-lg .validate {
    margin-bottom: 2.8rem; }
.md-form.form-lg label {
    font-size: 1.25rem; }
.md-form.form-lg label.active {
    font-size: 0.95rem; }
.md-form.form-lg .prefix {
    top: 0.4rem;
    font-size: 2rem; }
.md-form.form-lg .prefix ~ input,
.md-form.form-lg .prefix ~ textarea {
    margin-left: 3rem;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem); }
.md-form.form-lg .prefix ~ label {
    margin-left: 3rem; }
.md-form.form-lg .prefix ~ .form-text {
    margin-left: 3.1rem; }
.md-form.form-sm .validate {
    margin-bottom: 2.3rem; }
.md-form.form-sm label {
    font-size: 0.875rem; }
.md-form.form-sm label.active {
    font-size: 0.75rem; }
.md-form.form-sm .prefix {
    top: 0.35rem;
    font-size: 1.5rem; }
.md-form.form-sm .prefix ~ input,
.md-form.form-sm .prefix ~ textarea {
    margin-left: 2rem;
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem); }
.md-form.form-sm .prefix ~ label {
    margin-left: 2rem; }
.md-form.form-sm .prefix ~ .form-text {
    margin-left: 2rem; }
.md-form textarea.md-textarea {
    overflow-y: hidden;
    padding: 1.5rem 0;
    resize: none; }
.md-form textarea.md-textarea-auto {
    padding: 0;
    padding-top: 1.5rem; }

