<template>
    <footer class="bg-dark text-white-50 text-center font-weight-normal p-2">
        <small>Copyright &copy;, {{ currentDate }} Vue Blog Creation.</small>
    </footer>
</template>

<script>
    export default {
        name: "Footer",

        data() {
            return {
                currentDate: new Date().getFullYear(),
            }
        },

        methods: {
        }
    }
</script>

<style scoped>

</style>