<template>
        <header class="bb p-4 text-center">
            <a class="navbar-brand" href="#">
                <img src="../assets/img/goldensifttech_logo.png" width="46" height="46" alt="">
            </a>
            <h5 class=" d-inline text-black-50 header-font">GoldenSoftTech Blog</h5>

            <hr class="w-75 shadow-sm" >
        </header>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

    .header-font {
        font-family: 'Cantora One', sans-serif;
        letter-spacing: 1px;

    }

</style>