<template>
    <div class="container py-5">

        <div class="text-right logout-button">
            <router-link to="/admin-login">
                <small class="border-bottom p-1 border-warning text-black-50">Logout</small>
            </router-link>
        </div>


        <h4 class="text-center caption-font text-black-50 my-4"> {{ addBlogTitle }} </h4>

        <div class="contact-form bg-light py-5 px-lg-5 px-md-4 px-sm-3 text-grey">
            <!--Body-->
            <div class="modal-body mb-0 rgba-grey-light">
                <div class="md-form form-sm">
                    <!--<i class="fa fa-user prefix grey-text"></i>-->
                    <input type="text" id="blogTitle" v-model.lazy="blog.blogTitle" class="form-control">
                    <label for="blogTitle" class="active">Blog Title:</label>
                </div>


                <div class="md-form form-sm">
                    <!--<i class="fa fa-pen prefix grey-text"></i>-->
                    <textarea type="text" id="blogTextArea" v-model.lazy="blog.blogContent" class="form-control md-textarea mb-0"></textarea>
                    <label for="blogTextArea" class="active">Blog Post:</label>
                </div>

                <br class="mb-4" />

                <div id="checkboxes" class="mb-3 text-black-50">
                    <p class="font-weight-bolder textColor content-font">Categories:</p>
                    <label for="technology" class="mr-1">Technology:</label>
                    <input type="checkbox" id="technology" value="Technology" v-model="blog.blogCategories" class="mr-3">

                    <label for="health" class="mr-1">Health:</label>
                    <input type="checkbox" id="health" value="Health" v-model="blog.blogCategories" class="mr-3">

                    <label for="arts" class="mr-1">Arts:</label>
                    <input type="checkbox" id="arts" value="Arts" v-model="blog.blogCategories" class="mr-3">

                    <label for="nature" class="mr-1">Nature:</label>
                    <input type="checkbox" id="nature" value="Nature" v-model="blog.blogCategories">
                </div>

                <div id="selectBoxes" class="mb-3 text-black-50">
                    <label for="authors" class="mr-2">Authors:</label>
                    <select name="" id="authors" v-model="blog.blogAuthor">
                        <option value="Ken Smith">Dr. Ken Smith</option>
                        <option value="Ben Robbert">Prof. Ben Robbert</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success px-4" @click.prevent="submit">Submit <!--<i class="fa fa-paper-plane"></i>--> </button>
                </div>
            </div>
        </div>


        <hr class="w-75">

        <!--Preview Blog before posting.-->
        <div class="border p-2 text-secondary">
            <h3 class="font-weight-bolder textColor caption-font">Preview Blog</h3>
            <p> <span class="font-weight-bolder content-font">Title:</span> {{ blog.blogTitle }} </p>
            <p> <span class="font-weight-bolder content-font">Content:</span></p>
            <p> {{ blog.blogContent }} </p>
            <p> <span class="font-weight-bolder content-font">Categories:</span></p>
            <ul>
                <li v-for="(category, index) in blog.blogCategories" :key="index"> {{ category }} </li>
            </ul>
            <p> <span class="font-weight-bolder content-font">Author:</span> {{ blog.blogAuthor }} </p>
            <p> <span class="font-weight-bolder content-font">Date:</span> {{ formattedDate }} </p>
        </div>


    </div>
</template>

<script>
    export default {
        name: "addBlog",


        data() {
            return {
                addBlogTitle: "Add A New Blog",
                blog: {
                    blogTitle: "",
                    blogContent: "",
                    blogCategories: [],
                    blogAuthor: "",
                    blogDate: "",
                },

                submitted: false,
            };
        },

        methods: {
            submit() {
                this.$http.post('http://localhost:3004/blogs', this.blog)
                    .then( response => {
                        console.log(response);
                    }, error => {
                        console.log(error);
                    });

                //Clear the form fields after posting
                this.blog.blogTitle = "";
                this.blog.blogContent = "";
                this.blog.blogCategories = [];
                this.blog.blogAuthor = "";
                this.blog.blogDate = "";
                this.submitted = true;

                //Check if the post was successfully made
                if (this.submitted === true) {
                    alert("You've successfully submitted this blog post");
                }
            },

        },

        computed: {
            formattedDate() {
                let currentDate = new  Date();
                let formattedDate = currentDate.getDate() + "/" + (currentDate.getMonth() + 1) + "/" + currentDate.getFullYear();
                this.blog.blogDate = formattedDate;
                return formattedDate;
            },
        },
    }
</script>

<style scoped>

    .logout-button {
    }

    .textColor {
        color: darkcyan;
    }

</style>