<template>

    <div class="container py-5">

        <h4 class="text-center text-black-50 my-4 caption-font"> {{ adminLogin }} </h4>

        <form class="login-form bg-light py-5 px-lg-5 px-md-4 px-sm-3 text-grey w-50 mx-auto">
            <!--Body-->
            <div class="modal-body mb-0 rgba-grey-light">
                <div class="md-form form-sm">
                    <!--<i class="fa fa-user prefix grey-text"></i>-->
                    <input type="text" id="userName" v-model="admin.userName" class="form-control" required>
                    <label for="userName" class="active">User Name:</label>
                </div>

                <div class="md-form form-sm">
                    <!--<i class="fa fa-envelope prefix grey-text"></i>-->
                    <input type="password" id="password" v-model="admin.passWord" class="form-control" required>
                    <label for="password" class="active">Password:</label>
                </div>

                <div class="text-center">
                    <button class="btn btn-outline-success px-4" @click.prevent="submitAdminLogin">Login <!--<i class="fa fa-paper-plane"></i>--> </button>
                </div>
            </div>
        </form>

        <p v-for="(errorMessage, index) in errorMessages" :key="index" class="text-center text-danger mt-3"> {{ errorMessage }} </p>

    </div>

</template>

<script>
    export default {
        name: "AdminLogin",

        data() {
            return {
                adminLogin: "Admin Login",
                admin: {
                    userName: "",
                    passWord: "",
                },
                adminData: {},
                errorMessages: "",
            }
        },

        methods: {
            submitAdminLogin() {
                this.errorMessages = [];
                this.authenticateAdmin();
            },

            authenticateAdmin() {
                if (this.admin.userName !== "" && this.admin.passWord !== "") {
                    if (this.admin.userName === this.adminData.userName && this.admin.passWord === this.adminData.passWord) {
                        this.$router.replace('/add-blog');
                    }
                    else {
                        this.errorMessages.push("The username and / or password is incorrect");
                    }
                }
                else {
                    this.errorMessages.push("The username and / or password must not be empty");
                }
            }
        },


        mounted() {
            this.$http.get('http://localhost:3004/admin')
                .then(response => {
                    console.log(response);
                    this.adminData = response.body[0];
                    console.log(this.adminData);
                });
        }
    }
</script>

<style scoped>

    .login-form {
        min-width: 250px;
    }

    ul li {
        list-style-type: none;
    }

</style>