<template>
    <div class="container mt-4">
        <div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="d-inline text-black-50 caption-font"> {{ listOfBlog }} </p>
                </div>

                <div class="col-sm-6">
                    <form class="form-inline d-inline float-right">
                        <input class="form-control" type="text" placeholder="Search for blog" v-model="blogSearch">
                    </form>
                </div>
            </div>
        </div>

        <hr />

        <div class="blog-container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 mb-2 cursor" v-for="(blogList, index) in filteredBlogs" :key="index">
                    <router-link :to="'/single-blog/' + blogList.id">
                        <div class="img-thumbnail dimBackGround h-100 px-2">
                            <img :src="blogList.blogImages" height="330" width="300" class="img-fluid d-block mb-3"/>
                            <strong class="textColor"> {{ blogList.blogTitle }} </strong>
                            <div>
                                <div class="font-italic text-monospace text-secondary">
                                    <small> {{ blogList.blogCategories.toString() }} </small> -
                                    <small> {{ blogList.blogDate }} </small>
                                </div>
                            </div>
                            <p class="content-font"> {{ blogList.blogContent | snippet }} </p>
                        </div>
                    </router-link>
                </div>
            </div>

        </div>
    </div>
</template>

<script>


    import BlogImage1 from '../assets/img/blog-img/img3.jpg'
    import BlogImage2 from '../assets/img/blog-img/img5.jpg'
    import BlogImage3 from '../assets/img/blog-img/img6.jpg'
    import BlogImage4 from '../assets/img/blog-img/img8.jpg'
    import BlogImage5 from '../assets/img/blog-img/img9.jpg'
    import BlogImage6 from '../assets/img/blog-img/img10.jpg'
    import BlogImage7 from '../assets/img/blog-img/img11.jpg'
    import BlogImage8 from '../assets/img/blog-img/img17.jpg'
    import BlogImage9 from '../assets/img/blog-img/img18.jpg'

    export default {
        name: "BlogLists",

        data() {
            return {
                listOfBlog: "Lists Of Blog.",
                blogImages: [BlogImage1, BlogImage2, BlogImage3, BlogImage4, BlogImage5, BlogImage6, BlogImage7, BlogImage8, BlogImage9],
                blogLists: [],
                blogSearch: "",
            }
        },

        methods: {
            fetchBlogs() {
                this.$http.get('http://localhost:3004/blogs')
                    .then(response => {
                        console.log(response);
                        this.blogLists = response.body;
                    })
            },
        },

        computed: {
            filteredBlogs() {
                return this.blogLists.filter( blog => {
                    return blog.blogTitle.toLowerCase().includes(this.blogSearch.toLowerCase());
                })
            }
        },

        created() {
            this.fetchBlogs();
        }
    }
</script>

<style scoped>

    a, a:hover{
        text-decoration: none;
        color: #494949;
    }

    .dimBackGround:hover {
        background: rgba(234, 234, 234, 0.41);
    }

    .cursor {
        cursor: pointer;
    }
    
    .textColor {
        color: darkcyan;
    }

</style>