<template>
    <div>
        <h4 class=" caption-font text-black-50"> {{ singleBlogTitle }} </h4>

        <hr />

        <div class="mt-sm-2 mt-md-5">
            <strong class="d-block text-center blogTitleColor content-font"> {{ blogData.blogTitle }} </strong>
            <div>
                <div class="font-italic text-monospace text-secondary">
                    <small> <strong>Categories: </strong> {{ blogData.blogCategories.toString()}} </small>
                    <small class="d-block"> <strong>Date of post: </strong> {{ blogData.blogDate }} </small>
                </div>
            </div>
            <p class="content-font"> {{ blogData.blogContent }} </p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "SingleBlog",

        data() {
            return {
                singleBlogTitle: "Blog Details",
                id: this.$route.params.id,
                blogData: {},
            }
        },

        methods: {

        },

        created() {
            this.$http.get('http://localhost:3004/blogs/' + this.id)
                .then( (singleBlogData) => {
                    console.log(singleBlogData.body);
                    this.blogData = singleBlogData.body;
                } )
        }
    }
</script>

<style scoped>

    .blogTitleColor {
        color: darkcyan;
    }

</style>