<template>
  <div class="">
    <app-header></app-header>

    <div class="container my-1">
<!--

      <div id="nav" class="text-center">
        <router-link to="/">Blog Lists</router-link> |
        <router-link to="/add-blog">AddBlog</router-link>
      </div>
-->


      <div>
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </div>

    </div>

    <app-footer></app-footer>
  </div>
</template>



<script>


  export default {

    data: function () {
      return {

      }
    },

  }
</script>



<style lang="scss">
  @import "./assets/css/style.css";

    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: #2c3e50;
    }
    #nav {
      padding: 30px;
      a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
          color: #42b983;
        }
      }
    }


  .caption-font {
      font-family: 'Muli', sans-serif;
      font-size: 1.3rem;
      font-weight: 300;
      letter-spacing: 1px;
  }

  .content-font {
      font-family: 'Muli', sans-serif;
  }
</style>
